---
layout: default
---

<div class="event_headline foo">
	<div class="container">
		<div class="row headline">
			<div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
				<h2 id="foo">What's In Store for ProductCamp CLT 2014</h2><span style="text-align:left">
				<h3>ProductCamp is approaching fast and we're really excited for what should be a great day. We've got a fantastic lunch menu from a local caterer, books and t-shirts to give away, and plenty of topics to discuss. </h3>

				<h3>In fact, we've already heard some great pitches for session topics covering the gamut from product management to marketing and everything in between. Check out a few of these early pitches below, and be sure to show up with your own proposals if there's something you're passionate about and willing to share.  </h3></span>
			</div>
		</div>
	</div>
</div>


<div class=" ">
	<div class="container sponsors session_proposals">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
				
				
			</div>
		</div>
				<div class="row">
					<div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
						<h2>Product Management</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-12 col-xs-12">
						<h3>The 4 Don'ts of Product Management</h3>
						<p>Don't make it easy for your plumber to keep photos of you on his iPhone and other tales from the crypt. Come along to learn four crucial lessons for product managers that were learned the hard way. </p>
					</div>
					<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
						<h3>Product Management at a Startup</h3>
						<p>It can be difficult to start a formal product manageent practice in an organization that has never had one. Learn the nuts-and-bolts of developing a product management practice from the ground up.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-12 col-xs-12">
						<h3>Hacking Product Management Crowdsourcing & Outsourcing</h3>
						<p>Being a Product Manager often means being a "jack of all trades". Luckily a host of services are making it easier for Product Managers to outsource tedious tasks and free up their time for more strategic efforts. </p>
					</div>
					<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
						<h3>Lean Startup for Product Managers</h3>
						<p>The Lean Startup Method can help product managers build better products with greater chances for success. In this introductory session, we'll learn the language & concepts of the methodology and how to incorporate them into your practices.  </p>
					</div>
				</div>
				

				<div class="row">
					<div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
						<h2>Product Marketing</h2>
					</div>
					<div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-12 col-xs-12">
						<h3>Content Based Marketing</h3>
						<p>Whether you call it inbound, content marketing, New SEO or something else, a modern marketing strategy relies on quality content. Learn how to create and deploy content effcectively, including the ins-and-outs of developing E-books, infographics and more.</p>
					</div>
					<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
						<h3>Marketing Begins at the Idea Stage</h3>
						<p>Many startups begin with the product, and then try to find a problem to solve, a market to sell to, and people to do the selling. Instead of hoping you'll stumble upon product/market fit, learn how to include marketing from the very beginning and improve your odds of success.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-12 col-xs-12">
						<h3>Market & Competitor Research</h3>
						<p>Tips, tricks and tools that will get you more information about your market and your competitors than you'd ever imagine possible. Be ready to share your own strategies - this is a roundtable discussion where everyone can chip in. </p>
					</div>
					<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
						<h3>Buyer Personas in Modern Marketing</h3>
						<p>Learn why buyer personas are so vital to your marketing efforts and then dive deep on the tools and processes to create, test and use them effectively.</p>
					</div>
				</div>

				<div class="row">
				<div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12"><h2>And much, much more...</h2></div>
					<div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-12 col-xs-12">
						<h3>Hacking Development</h3>
						<p>You've worked hard on your product strategy, designs, and roadmap, so don't leave the engineering to chance. We'll discuss five strategies you can use to build engineering into your product process and deliver the product you want on the timeline you want it.</p>
					</div>
					<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
						<h3>Authoring for the Internet of Things</h3>
						<p>Join Marc Cantor as he discusses his new startup focused on enabling everyday users to author interactive experiences. Marc was previously a founder of Macromind, the company that became Macromedia and was acquired by Adobe for $3.4 billion.</p>
					</div>
					</div>
					
				</div>
				</div>
   			</div>
   		</div>
   		
	</div>
</div>
{% include register_cta.html %}
{% include footer.html %}